.container {
  text-align: center;
}

.title {
  margin-top: 50px;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  padding: 20px;
  height: 60px;
}

.reset {
  width: 230px;
  height: 75px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: #1f3540;
  font-size: 26px;
  color: #26ffcb;
  margin-top: 25px;
  margin-bottom: 50px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  height: 120px;
  width: 120px;
  background-color: #1f3540;
  border: 4px solid #0f1b21;
  cursor: pointer;
}

.boxes img {
  margin: 20px;
}
